{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="{{ event.picture }}" alt="Photo de {{ event.name }}" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <h1>{{ event.name }}</h1>
            <p>{{ event.description }}</p>
            <div class="d-flex justify-content-end">
                <a href="{{ path('event_join', {id: event.id}) }}" class="btn btn-primary">S'inscrire</a>
            </div>
        </div>
        <div class="col-12 bg-secondary m-2 py-2 d-flex text-light justify-content-around">
            <span>
                <i class="fas fa-euro-sign"></i>
                {{ event.price ?? 'Gratuit' }}
            </span>
            <span>
                <i class="fas fa-map-marker-alt"></i>
                {{ event.place }}
            </span>
            <span>
                <i class="fas fa-clock"></i>
                Du {{ event.startAt|date('d/m/Y H:i') }} au {{ event.endAt|date('d/m/Y H:i') }}
            </span>
            <span>
                <i class="fas fa-users"></i>
                Il reste {{ event.capacity }} places
            </span>
        </div>
    </div>
</div>
{% endblock %}
