{% extends 'base.html.twig' %}

{% block title %}Nos événements - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page_list') }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Nos événéments</h1>

        <div class="events">

            <div class="mb-3">{{ events|length }} évènements disponibles</div>

            <div class="d-flex justify-content-end my-2">
                <a href="{{ path('event_list', {sort: 'createdAt', q: query}) }}" class="btn btn-dark mx-1">Les plus récents</a>
                <a href="{{ path('event_list', {sort: 'startAt', q: query}) }}" class="btn btn-dark mx-1">À venir</a>
                <a href="{{ path('event_list', {sort: 'name', q: query}) }}" class="btn btn-dark mx-1">Par ordre alphabétique</a>
            </div>

            {% for event in events %}
                {% if event.endAt < date() %}
                    {% set status = {color: 'danger', text: 'Passé'} %}
                {% elseif event.startAt < date() %}
                    {% set status = {color: 'warning', text: 'En cours'} %}
                {% else %}
                    {% set status = {color: 'primary', text: 'A venir'} %}
                {% endif %}

                <div class="card mb-3 event">
                    <div class="row g-0">
                        <div class="col-md-4 event-picture">
                            <span class="event-timer badge rounded-pill bg-{{ status.color }}">
                                {{ status.text }}
                            </span>
                            <img src="{{ event.picture }}" alt="Photo de {{ event.name }}" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-title d-flex">
                                    <h2>{{ event.name }}</h2>
                                    <div class="d-flex align-items-center mx-1">
                                        {% for category in event.categories %}
                                            <i class="{{ category.icon }} mx-1" title="{{ category.name }}"></i>
                                        {% endfor %}
                                    </div>
                                </div>

                                <p class="card-text">{{ event.description }}</p>
                                <p class="card-text event-info">
                                    <span>
                                        <i class="fas fa-euro-sign"></i>
                                        {{ event.price ?? 'Gratuit' }}
                                    </span>
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        {{ event.place.name }} - {{ event.place.city }}
                                    </span>
                                    <span>
                                        <i class="fas fa-clock"></i>
                                        {{ event.startAt|date('d/m/Y H:i') }}
                                    </span>
                                    <span class="spacer"></span>
                                    <a href="{{ path('event_display', {id: event.id}) }}" class="btn btn-primary">
                                        En savoir plus
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun événement ne correspond à la recherche</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_list') }}
{% endblock %}